body {
  /*background: url(./../img/water-blue-ocean.jpg);
  background-size: cover;*/
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00467f+0,00243f+100 */
  background: #00467f; /* Old browsers */
  background: -moz-linear-gradient(top, #00467f 0%, #00243f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00467f 0%,#00243f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00467f 0%,#00243f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#00243f',GradientType=0 ); /* IE6-9 */
  color: white;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  color: #01457f;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

section:first-child {
  padding-top: 140px;
}

p {
  /*line-height: 1.6rem;*/
}

p span {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-family: 'Bowlby One SC', cursive;
}

#selectors {
  position: absolute;
  top: 0;
  left: 0;
}

.sticky {
  position: fixed;
  top: 88px;
  width: 100%;
}

.navbar {
  box-shadow: 0 30px 50px rgba(0,0,0,0.4);
}

.video {
  text-align: center;
  background-color: #102D4E;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.themes {
  background-color: #01467f;
  background: url(./../img/water-blue-ocean.jpg);
  background-size: cover;
}

.themes .column {
  /*border: 1px solid white;*/
  text-align: center;
}

.themes button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: #102D4E;
  font-family: 'Bowlby One SC', cursive;
}

.themes button span {
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.themes button:hover {
  color: white;
}

.story .column {
  background-color: white;
  color: black;
}

button {
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 14px;
  border: none;
  border-radius: 0;
  margin: 1px;
}

button:hover {
  background-color: #eeeeee;
  cursor: pointer;
  color: steelblue;
}

